# Node.js dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build
dist

# Docker
docker-compose.override.yml

# Dependency directories
/.pnp
.pnp.js

# Testing
/coverage

# VS Code settings
.vscode/
.vscode/*

# MacOS system files
.DS_Store

# Log files
*.log

# Env files (sensitive information)
.env

# IDE specific files (e.g., JetBrains, Sublime, etc.)
.idea/
*.sublime-workspace
*.sublime-project

# Production files
.env.production
.env.local

# Temporary files
*.tmp
*.temp

# Git hooks
.husky
.huskyrc

# Ignore Docker volumes
**/node_modules

# Ignore lockfiles
package-lock.json
yarn.lock