.hobby {
  &__card {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    border: 2px solid #ffffff;
    padding: 2rem;
    margin: 1rem auto; // Centra la tarjeta horizontalmente con márgenes
    border-radius: 20px; // Más redondeado que antes
    max-width: 80%; // Limita el ancho de la tarjeta
    position: relative;
    flex-direction: row; // Coloca el contenido en una columna para centrar el botón abajo
  }

  &__icon {
    margin-right: 1rem;
  }

  &__content {
    flex-grow: 1;
    text-align: justify; // Centra el texto horizontalmente
    margin-right: 10rem;
    padding-left: 15px;
    // padding-right: 20%;
  }

  &__separator {
    width: 1px;
    height: 100px;
    background-color: #fff;
    margin: 0 1rem ;
    // align-self: stretch;
  }
}

.deleteButton {
  background-color: #ff5722;
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin-top: 1rem; // Añadir espacio encima para evitar que quede muy cerca del separador
  align-self: center; // Centrar el botón en la parte inferior
}
