// Notación BE

$navbar-bg-color: #333;
$link-bg-color: #444;
$link-border-color: #a39d9d;
$link-hover-bg-color: #555;
$logo-bg-color: #666;
$font-color: white;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $navbar-bg-color;
  padding: 1rem;
  color: $font-color;

  &__logo {
    &-text {
      background-color: $logo-bg-color;
      color: $font-color;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      font-size: 1rem;
      text-align: center;
    }
  }

  &__links {
    display: flex;
    gap: 2rem;
  }

  &__link {
    background-color: transparent;
    color: $font-color;    
    border: 1px solid $link-border-color;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s, border-color 0.3s;

    // Modificador para el enlace activo
    &--active {
      background-color: $link-bg-color;
      border-color: $link-border-color;
    }

    &:hover {
      background-color: $link-hover-bg-color;
    }
  }

  &__profile {

    &-button {
      background-color: transparent;
      color: $font-color;
      border: 1px solid $link-border-color;
      cursor: pointer;
      border-radius: 50%;
      font-size: 1rem;
      text-align: center;
      width: 60px;
      height: 60px;
    }
  }
}
